Source: openttd-opensfx
Section: games
Priority: optional
Maintainer: Matthijs Kooijman <matthijs@stdin.nl>
Uploaders: Jordi Mallach <jordi@debian.org>
Build-Depends: debhelper-compat (= 13), catcodec, grfcodec
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/openttd-team/openttd-opensfx
Vcs-Git: https://salsa.debian.org/openttd-team/openttd-opensfx.git
Homepage: https://github.com/OpenTTD/OpenSFX
Rules-Requires-Root: no

Package: openttd-opensfx
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: sound set for use with the OpenTTD game
 OpenSFX is a replacement for the original TTD (Transport Tycoon Deluxe) base
 sounds used by OpenTTD, distributed under a restrictive license.  The main
 goal of OpenSFX therefore is to provide a set of sounds, available free of
 charge, which make it possible to play OpenTTD without requiring the user to
 pay for the original Transport Tycoon Deluxe game for its sound set.
